# Solo permitir acceso a send.php
<Files "*.php">
    Require all denied
</Files>
<Files "send.php">
    Require all granted
</Files>

# Bloquear config.php explicitamente
<Files "config.php">
    Require all denied
</Files>

# Desactivar listado de directorio
Options -Indexes
